body{
	margin:0;
	width:100%;
	height:100%;
	background-color:rgb(25,25,25) !important;
	position:absolute;
	color:rgb(255,255,255) !important;
}
label{
	margin-bottom:5px !important;
}

/* Banner */
#banner{
	background-color:rgb(13,13,13);
	width:100%;
	height:80px;
	box-shadow:0px 0px 10px 0px rgb(80,0,0);
	position:relative;
	z-index:2;
}
#bannerImg{
	background-color:rgb(8,8,8);
	width:125px;
	height:80px;
	position:absolute;
	z-index:3;
}
#bannerImg:hover{
	background-color:rgb(5,5,5);
}

/* Formulário de Login */
#formLogin{
	width:50%;
	border-style:solid;
	border-width:5px;
	border-color:rgba(13,13,13,.7);
	padding:0px 0px 55px 0px;
	border-radius:5px;
	position:absolute;
	left:25%;
	top:30%;
}
#formLogin h1{
	margin:0px 0px 45px 0px;
	background-color:rgba(13,13,13,.7);
	color:rgb(255,255,255);
	text-align:center;
	padding:12px 0px 17px 0px;
	font-family:cursive;
	font-size:30px;
}
#form{
	margin:auto;
	width:80%;
	color:rgb(255,255,255);
	font-weight:bold;
}
#user{
	width:100%;
	padding:10px 0px 10px 0px;
	margin:0px 0px 15px 0px;
	border:none;
	border-radius:3px;
	font-size:15px;
	outline:none;
	box-shadow:0px 0.5px 1.5px 0px rgb(170,170,170);
}
#password{
	width:100%;
	padding:10px 0px 10px 0px;
	margin:0px 0px 15px 0px;
	border:none;
	border-radius:3px;
	font-size:15px;
	outline:none;
	box-shadow:0px 0.5px 1.5px 0px rgb(170,170,170);
}
#user:focus{
	box-shadow:0px 1px 3px 0px rgb(170,170,170);
}
#password:focus{
	box-shadow:0px 1px 3px 0px rgb(170,170,170);
}
#user:hover{
	box-shadow:0px 1px 3px 0px rgb(170,170,170);
}
#password:hover{
	box-shadow:0px 1px 3px 0px rgb(170,170,170);
}
#submit{
	width:100%;
	font-size:15px;
	margin-top:30px;
	padding:10px 0px 10px 0px;
	color:rgb(255,255,255);
	border-style:none;
	border-radius:5px;
	background-color:rgb(50,125,50);
	cursor:pointer;
	font-weight:bold;
}
#submit:hover{
	background-color:rgb(50,135,50);
}

/* Menu */
#nav{
	position:absolute;
	z-index:3;
	right:0px;
	top:0px;
}
#nav ul{
	margin:0;
	padding:0;
	float:left;
	list-style:none;
}
#nav li{
	background-color:rgb(13,13,13);
	float:left;
	text-align:center;
	width:150px;
	line-height:80px;
}
#nav li:hover{
	background-color:rgb(5,5,5);
}
#nav a{
	display:block;
	color:rgb(255,255,255);
	font-family:cursive;
	width:150px;
	line-height:80px;
}
#nav a:hover{
	color:rgb(200,0,0);
	text-decoration:none;
}
#menuTitle{
	display:grid;
	grid-template-columns:100%;
	margin-top:5%;
}
#menuTitle h1{
	font-family:cursive;
	font-weight:bold;
	font-size:60px;
	color:rgb(200,200,200);
	margin:auto;
	text-align:center;
}
#menu{
	display:grid;
	grid-template-columns:33.3333333333% 33.3333333333% 33.3333333333%;
	margin-top:10%;
}
#bt-cadastra-cliente{
	outline:none;
}
#bt-cadastra-automovel{
	outline:none;
}
#bt-efetua-aluguel{
	outline:none;
}
.bt-menu{
	margin:auto;
	width:250px;
	color:rgb(200,200,200);
	background-color:rgb(15,15,15);
	font-family:cursive;
	border:none;
	font-size:30px;
	cursor:pointer;
	box-shadow:0px 0px 5px 0px rgb(15,15,15);
	padding:60px 18px 60px 18px;
	border-radius:100px;
}
.bt-menu:hover{
	box-shadow:0px 0px 200px 0px rgb(50,50,50);
}

/* Administrar automóveis */
#btn_cadastro{
	background-color:rgb(50,125,50);
	border:none;
	box-shadow:none;
}
#btn_cadastro:hover{
	background-color:rgb(60,150,60);
}
#cadastrar_veic{
	background-color:rgb(50,125,50);
	border:none;
	box-shadow:none;
}
#cadastrar_veic:hover{
	background-color:rgb(60,150,60);
}

#bt-cancelar{
	background-color:rgb(180,50,50);
	border:none;
	box-shadow:none;
}
#bt-cancelar:hover{
	background-color:rgb(205,60,60);
}
#modal_cadastro{
	color:rgb(0,0,0);
}
.responsive-table{
	overflow-x:auto;
}

/* Login */
.errorMsg{
	width:35%;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
	background-color:rgb(235,85,95);
	font-size:1.5em;
	border-radius:80px;
	text-align:center;
	font-family:monospace;
	position:absolute;
	z-index:3;
	top:15%;
	left:32.5%;
}

@media(max-width:780px){
	#formLogin{
		width:80%;
		left:10%;
		top:25%;
	}
	#formLogin h1{
		margin:0px 0px 25px 0px;
	}
	#user{
		margin:0px 0px 10px 0px;
	}
	#password{
		margin:0px 0px 10px 0px;
	}
	#submit{
		margin-top:20px;
	}
	#menu{
		display:grid;
		grid-template-columns:100%;
		margin-top:10%;
	}
	#bt-cadastra-cliente{
		margin-bottom:50px;
	}
	#bt-cadastra-automovel{
		margin-bottom:50px;
	}
	#bt-efetua-aluguel{
		margin-bottom:50px;
	}
	#menuTitle h1{
		font-size:40px;
	}
	.bt-menu{
		width:200px;
		font-size:20px;
	}
	.errorMsg{
		width:80%;
		font-weight:bold;
		padding-top:10px;
		padding-bottom:10px;
		background-color:rgb(255,80,80);
		font-size:1.2em;
		border-radius:5px;
		text-align:center;
		font-family:monospace;
		position:absolute;
		z-index:3;
		top:15%;
		left:10%;
	}
}
@media(max-height:568px){
	#formLogin{
		width:80%;
		left:10%;
		top:25%;
	}
}