html{
	height: 100%;
}

body{
	height: 100%;
	margin:0;
	font-family:arial, sans-serif;
}
section{
	background-color:rgb(0,0,0);
}
footer{
	background-color:rgb(13,13,13);
	box-shadow: 0px 0px 5px 3px black;
	position:relative;
	z-index:2;
}
#banner{
	background-color:rgb(13,13,13);
	width:100%;
	height:80px;
	box-shadow:0px 3px 5px 0px black;
	position:relative;
	z-index:2;
}
#menu{
	width:1000px;
	margin:auto;
	padding-top:100px;
}
#bt-cadastra-cliente{
	float:left;
	width:33.333%;
}
#bt-cadastra-automovel{
	float:left;
	width:33.333%;
}
#bt-efetua-aluguel{
	float:left;
	width:33.333%;
}
#fundoMenu{
	width:100%;
	height:100%;
	height:670px;
	padding-top:188px;
	background-color:rgba(0,0,0,.7);
}
#secaoLogin{
	position:relative;
	background-color:rgba(0,0,0,.6);
	width:100%;
	height:670px;
	padding-top:125px;
}
#formLogin{
	margin:auto;
	width:50%;
	border-style:solid;
	border-width:5px;
	border-color:rgba(13,13,13,.7);
	padding:0px 0px 55px 0px;
	border-radius:5px;
}
#formLogin h1{
	margin:0px 0px 45px 0px;
	background-color:rgba(13,13,13,.7);
	color:rgb(255,255,255);
	text-align:center;
	padding:12px 0px 17px 0px;
}
#form{
	margin:auto;
	width:80%;
	color:rgb(255,255,255);
	font-weight:bold;
}
#user{
	width:100%;
	padding:10px 0px 10px 0px;
	margin:5px 0px 10px 0px;
	border:none;
	border-radius:3px;
	font-size:15px;
	outline:none;
	box-shadow:0px 0.5px 1.5px 0px rgb(170,170,170);
}
#password{
	width:100%;
	padding:10px 0px 10px 0px;
	margin:5px 0px 10px 0px;
	border:none;
	border-radius:3px;
	font-size:15px;
	outline:none;
	box-shadow:0px 0.5px 1.5px 0px rgb(170,170,170);
}
#user:focus{
	box-shadow:0px 1px 3px 0px rgb(170,170,170);
}
#password:focus{
	box-shadow:0px 1px 3px 0px rgb(170,170,170);
}
#user:hover{
	box-shadow:0px 1px 3px 0px rgb(170,170,170);
}
#password:hover{
	box-shadow:0px 1px 3px 0px rgb(170,170,170);
}
#submit{
	width:100%;
	font-size:15px;
	margin-top:40px;
	padding:11px 0px 11px 0px;
	color:rgb(255,255,255);
	border-style:none;
	border-radius:5px;
	background-color:rgb(50,125,50);
	cursor:pointer;
	font-weight:bold;
}
#submit:hover{
	background-color:rgb(50,135,50);
}
#rodape3{
	background-color:rgb(8,8,8);
	position:relative;
	z-index:2;
	float:left;
	width:100%;
	text-align:center;
	padding:2px 0px 2px 0px;
}
#rodape3 h2{
	color:rgb(255,255,255);
	font-size:19px;
	font-family:cursive;
}
.hr-rodape{
	width:80%;
	display:none;
}
.fundo{
	width:100%;
	height:100%;
	background-color: black;
	position:relative;
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
}
.bt-menu{
	margin:auto;
	width:250px;
	color:rgb(255,255,255);
	background-color:rgb(15,15,15);
	font-family:cursive;
	border:none;
	font-size:30px;
	outline:none;
	cursor:pointer;
	box-shadow:0px 0px 5px 0px rgb(15,15,15);
	padding:60px 18px 60px 18px;
	border-radius:100px;
}
.bt-menu:hover{
	box-shadow:0px 0px 200px 0px rgb(50,50,50);
}
@media (min-width:1280px){
	footer{
		width:100%;
		height:275px;
		padding:0px 0px 70px 0px;
	}
	#rodape{
		width:1095px;
		height:100%;
		color:rgb(255,255,255);
		padding:70px 0px 0px 0px;
		margin:auto;
	}
	#rodape1{
		width:520px;
		float:left;
		font-family:Lato;
		font-size:16px;
		font-weight:300;
		padding-right:150px;
		text-align:left;
	}
	#rodape1 h2{
		margin:0;
		font-size:26px;
		font-weight:700;
	}
	#rodape1 p{
		padding:8px 0;
		margin:0;
	}
	#rodape2{
		width:275px;
		float:left;
		font-family:Lato;
		font-size:16px;
		font-weight:300;
		padding-left:150px;
		text-align:center;
		line-height:30px;
	}
	#rodape2 h2{
		margin-bottom:8px;
		font-size:26px;
		font-weight:700;
	}
	#rodape3{
		padding:18px 0px 18px 0px;
		text-align:center;
		float:left;
		width:100%
	}
	#rodape3 h2{
		color:rgb(255,255,255);
		font-size:19px;
		font-family:cursive;
	}
	h2{
		margin:0;
		padding:0;
	}
}

@media(max-width:1279px){
	footer{
		width:100%;
		height:275px;
		padding:0px 0px 70px 0px;
	}
	#rodape{
		width:1045px;
		height:100%;
		color:rgb(255,255,255);
		padding:70px 0px 0px 0px;
		margin:auto;
	}
	#rodape1{
		width:520px;
		float:left;
		font-family:Lato;
		font-size:16px;
		font-weight:300;
		padding-right:125px;
		text-align:left;
	}
	#rodape1 h2{
		margin:0;
		font-size:26px;
		font-weight:700;
	}
	#rodape1 p{
		padding:8px 0;
		margin:0;
	}
	#rodape2{
		width:275px;
		float:left;
		font-family:Lato;
		font-size:16px;
		font-weight:300;
		padding-left:125px;
		text-align:center;
		line-height:30px;
	}
	#rodape2 h2{
		margin-bottom:8px;
		font-size:26px;
		font-weight:700;
	}
	#rodape3{
		padding:18px 0px 18px 0px;
		text-align:center;
		float:left;
		width:100%
	}
	#rodape3 h2{
		color:rgb(255,255,255);
		font-size:19px;
		font-family:cursive;
	}
	h2{
		margin:0;
		padding:0;
	}
}

@media(max-width:1150px){
	footer{
		width:100%;
		height:275px;
		padding:0px 0px 70px 0px;
	}
	#rodape{
		width:995px;
		height:100%;
		color:rgb(255,255,255);
		padding:70px 0px 0px 0px;
		margin:auto;
	}
	#rodape1{
		width:520px;
		float:left;
		font-family:Lato;
		font-size:16px;
		font-weight:300;
		padding-right:100px;
		text-align:left;
	}
	#rodape1 h2{
		margin:0;
		font-size:26px;
		font-weight:700;
	}
	#rodape1 p{
		padding:8px 0;
		margin:0;
	}
	#rodape2{
		width:275px;
		float:left;
		font-family:Lato;
		font-size:16px;
		font-weight:300;
		padding-left:100px;
		text-align:center;
		line-height:30px;
	}
	#rodape2 h2{
		margin-bottom:8px;
		font-size:26px;
		font-weight:700;
	}
	#rodape3{
		padding:18px 0px 18px 0px;
		text-align:center;
		float:left;
		width:100%
	}
	#rodape3 h2{
		color:rgb(255,255,255);
		font-size:19px;
		font-family:cursive;
	}
	h2{
		margin:0;
		padding:0;
	}
}

@media(max-width:1024px){
	footer{
		width:100%;
		height:275px;
		padding:0px 0px 70px 0px;
	}
	#rodape{
		width:935px;
		height:100%;
		color:rgb(255,255,255);
		padding:70px 0px 0px 0px;
		margin:auto;
	}
	.hr-rodape{
		width:80%;
		display:none;
	}
	#rodape1{
		width:520px;
		float:left;
		font-family:Lato;
		font-size:16px;
		font-weight:300;
		padding-right:65px;
		text-align:left;
	}
	#rodape1 h2{
		margin:0;
		font-size:26px;
		font-weight:700;
	}
	#rodape1 p{
		padding:8px 0;
		margin:0;
	}
	#rodape2{
		width:285px;
		float:left;
		font-family:Lato;
		font-size:16px;
		font-weight:300;
		padding-left:65px;
		text-align:center;
		line-height:30px;
	}
	#rodape2 h2{
		margin-bottom:8px;
		font-size:26px;
		font-weight:700;
	}
	#rodape3{
		padding:18px 0px 18px 0px;
		text-align:center;
		float:left;
		width:100%
	}
	#rodape3 h2{
		color:rgb(255,255,255);
		font-size:19px;
		font-family:cursive;
	}
	h2{
		margin:0;
		padding:0;
	}
}

@media (max-width:959px){
	footer{
		width:100%;
		height:400px;
		padding:0px 0px 70px 0px;
	}
	#rodape{
		width:90%;
		height:100%;
		color:rgb(255,255,255);
		padding:70px 0px 0px 0px;
		margin:auto;
	}
	.hr-rodape{
		width:100%;
		display:block;
		overflow:auto;
		margin:0;
	}
	#rodape1{
		width:100%;
		font-family:Lato;
		font-size:16px;
		font-weight:300;
		text-align:left;
		padding:0px 0px 20px 0px;
	}
	#rodape1 h2{
		margin:0;
		font-size:26px;
		font-weight:700;
	}
	#rodape1 p{
		padding:8px 0;
		margin:0;
	}
	#rodape2{
		width:100%;
		font-family:Lato;
		font-size:16px;
		font-weight:300;
		text-align:center;
		line-height:30px;
		padding:20px 0px 0px 0px;
	}
	#rodape2 h2{
		margin-bottom:8px;
		font-size:26px;
		font-weight:700;
	}
	#rodape3{
		padding:18px 0px 18px 0px;
		text-align:center;
		float:left;
		width:100%
	}
	#rodape3 h2{
		color:rgb(255,255,255);
		font-size:19px;
		font-family:cursive;
	}
	h2{
		margin:0;
		padding:0;
	}
}
@media(max-width:780px){
	#formLogin{
		width:80%;
	}
}
@media(max-width:509px){
	#secaoLogin{
		width:100%;
		height:500px;
		padding-top:80px;
	}
	footer{
		width:100%;
		height:500px;
		padding:0px 0px 70px 0px;
	}
	#rodape{
		width:90%;
		height:100%;
		color:rgb(255,255,255);
		padding:70px 0px 0px 0px;
		margin:auto;
	}
	.hr-rodape{
		width:100%;
		display:block;
		overflow:auto;
		margin:0;
	}
	#rodape1{
		width:100%;
		font-family:Lato;
		font-size:16px;
		font-weight:300;
		text-align:left;
		padding:0px 0px 20px 0px;
	}
	#rodape1 h2{
		margin:0;
		font-size:26px;
		font-weight:700;
	}
	#rodape1 p{
		padding:8px 0;
		margin:0;
	}
	#rodape2{
		width:100%;
		font-family:Lato;
		font-size:16px;
		font-weight:300;
		text-align:center;
		line-height:30px;
		padding:20px 0px 0px 0px;
	}
	#rodape2 h2{
		margin-bottom:8px;
		font-size:26px;
		font-weight:700;
	}
	#rodape3{
		padding:18px 0px 18px 0px;
		text-align:center;
		float:left;
		width:100%
	}
	#rodape3 h2{
		color:rgb(255,255,255);
		font-size:16px;
		font-family:cursive;
	}
	h2{
		margin:0;
		padding:0;
	}
}

@media(max-width:300px){
	footer{
		width:100%;
		height:580px;
		padding:0px 0px 70px 0px;
	}
	#rodape{
		width:90%;
		height:100%;
		color:rgb(255,255,255);
		padding:70px 0px 0px 0px;
		margin:auto;
	}
	.hr-rodape{
		width:100%;
		display:block;
		overflow:auto;
		margin:0;
	}
	#rodape1{
		width:100%;
		font-family:Lato;
		font-size:16px;
		font-weight:300;
		text-align:left;
		padding:0px 0px 20px 0px;
	}
	#rodape1 h2{
		margin:0;
		font-size:26px;
		font-weight:700;
	}
	#rodape1 p{
		padding:8px 0;
		margin:0;
	}
	#rodape2{
		width:100%;
		font-family:Lato;
		font-size:16px;
		font-weight:300;
		text-align:center;
		line-height:30px;
		padding:20px 0px 0px 0px;
	}
	#rodape2 h2{
		margin-bottom:8px;
		font-size:26px;
		font-weight:700;
	}
	#rodape3{
		padding:18px 0px 18px 0px;
		text-align:center;
		float:left;
		width:100%
	}
	#rodape3 h2{
		color:rgb(255,255,255);
		font-size:16px;
		font-family:cursive;
	}
	h2{
		margin:0;
		padding:0;
	}
}